:root {
    --primary-color: #FCDEC0;
    --secondary-color: #381c0a;
    --trinary-color: #E5B299;
    --trinary2-color: #B4846C;
}

@font-face {
    font-family: font;
    src: url(./Aeonik.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-color);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    background-color: var(--secondary-color);

}
nav{
    position: fixed;
    width:100%;
    height: 30px;
    background-color: var(--trinary2-color);

}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: #FEBA17;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 500;
    font-size: 13px;
}

.elem:active{
    scale: 0.98;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 20px;
    
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    font-weight: 600;

}
.back:active{
    scale: 0.98;
}


.todo-list-fullpage h2{
    font-size: 20px;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--trinary2-color);
    border-radius: 20px;

}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--trinary2-color);
    height: 100%;
    border-radius: 20px;

}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input{
    padding: 10px 20px;
    width: 100%;
    font-size: 15px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 15px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 15px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button:active{
    scale: 0.98;
}

.todo-list-fullpage .todo-container .allTask{
   width: 65%;
   background-color: var(--trinary2-color);
   height: 100%;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 30px;
   overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
}

.task h5{
    color: var(--secondary-color);
    font-size: 20px;

}
.task button{
    padding: 15px 30px;
    color: var(--primary-color);
    background-color: green;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.task h5 span{
    background-color: red;
    color: var(--primary-color);
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 10px;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}
.daily-planner-fullpage{
    display: block;
    
}


.daily-planner-fullpage .day-planner {
    background-color: var(--trinary2-color);
    height: 85%;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    webkitscrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
}

.daily-planner-fullpage .day-planner .day-planner-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top:12% ;
    left:1%;
    font-size: 10px;
    color: var(--primary-color);
}
.day-planner .day-planner-time input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border:none;
    font-size: 20px;
    outline:none;
    

}